{% extends 'ToDoApp/base.html' %}
{% block content %}
{% load static %}
	<ul class="list-group border border-primary">
		<li class="list-group-item">Категория - {{ category.name}} , ID {{ category.pk}}</li>
		<li class="list-group-item">Задачи принадлежащие данной категории:
		{% for task in tasks %}
			<li class="list-group-item"> Заголовок задачи - {{task.title}} </li>
			<li class="list-group-item"> Содержание - {{task.content}}</li>
			<li class="list-group-item"> ID задачи - {{task.pk}} </li>

		<hr class="hr">
			{% endfor %}
		</li>
	</ul>

{% endblock %}