{% extends 'ToDoApp/base.html' %}
{% block content %}

<p>Список задачь:</p>

	{% for task in tasks %}

        <ul class="list-group border border-primary">
            <li class="list-group-item">Заголовок - {{ task.title}}</li>
            <li class="list-group-item">Дата создания - {{ task.created}}</li>
            <li class="list-group-item">Дэдлайн - {{ task.expiration_date}}</li>
            <li class="list-group-item">Категория - {{ task.category}}</li>
        </ul>
    <p></p>


	{% endfor %}

{% endblock %}

